{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h1>{% trans 'Labels' %}</h1>
  <a href="{% url 'label_create' %}" class="btn btn-primary mt-3">{% trans 'Create label' %}</a>
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Creation Date' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for label in label_list %}
        <tr>
          <td>{{ label.id }}</td>
          <td>{{ label.name }}</td>
          <td>{{ label.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
          <td>
            <a href="{% url 'label_update' pk=label.id %}" class="d-block">{% trans 'Change' %}</a>
            <a href="{% url 'label_delete' pk=label.id %}" class="d-block">{% trans 'Delete' %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
