{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="card px-4 py-5 my-5 mx-auto text-center col-md-9 rounded-4 border-danger">
    <h1 class="display-5 fw-bold mb-3">{% trans 'Confirm deletion' %}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-4 fw-medium mb-4">{% blocktrans %}Are you sure you want to delete the {{ entity }} "{{ object }}"?{% endblocktrans %}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form method="post" class="m-0 d-flex gap-3">
          {% csrf_token %}
          <button class="btn btn-danger btn-lg px-4">{% trans 'Yes, delete' %}</button>
          <a href="{{ cancel_url }}" class="btn btn-outline-secondary btn-lg px-4">{% trans 'Cancel' %}</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
